.text-center {
  text-align: center;
}
/* This a basic button template */
.basic-button {
  background-color: #333333;
  color: white;
  border: none;
  padding: 5px;
  margin: 6px;
  font-size: 35px;
  height: 75px;
  width: 75px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
}
/* It removes the blue highlight occur when cursor press any button */
.rmv-blue-hg {
  -webkit-tap-highlight-color: transparent;
}

.bg-yellow {
  background-color: #ff9f0a;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

/* This CSS is for color transition while pressing num keys */
.num-btn-col-txn {
  background-color: #333333;
  transition: background 0.1s;
}

.num-btn-col-txn:active {
  background-color: #575757;
}

/* This CSS is for color transition while pressing Left-Right operator keys */
.opr1-btn-col-txn {
  color: black;
  background-color: #a5a5a5;
  transition: background 0.1s;
}

.opr1-btn-col-txn:active {
  background-color: #f9f9f9;
}

/* This CSS is for color transition while pressing Top-Bottom operator keys */
.opr2-btn-col-txn {
  color: white;
  background-color: #ff9f0a;
  transition: background 0.1s;
}

.opr2-btn-col-txn:active {
  background-color: #ffc66f;
}
